/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of the reset */

.img {
width: 100%;
}
}
body{
color: #222;
font-size: 100%;
font-family: Georgia, Helvetica, Arial, sans-serif;
background: #fff; 
width: 100%
}

.section{
margin: 1900px;
}

h1{position: absolute;
color:red;
left: 5%;
right: auto;
bottom: 5%;
text-align: left;
line-height: 1em;
font-family: stratum-1-web,Helvetica,Arial,sans-serif;
font-size: 3em;
font-weight: 600;
text-shadow: 0 0 6px}



.container {
overflow:hidden;
width: 100%;
margin: 0;
padding: 0;
font-size: 100%;
font-style: normal;
vertical-align: baseline;
background: transparent;
border: 0;
outline: 0;
}


.span_1_of_3 {
width: 33%;
float: left;
color: black;
padding: 0px, 2.5;
font-family: 'Rokkit', Georgia, "Times New Roman", Times, serif;
font-size: 18px;
text-shadow: 1px 1px 0px float:right;
margin-right: 2px;
margin-top: 5px;
}
.header {
line-height: 0px;
position: fixed;
z-index: -100;
overflow: hidden;
margin: 0px;
padding: 0px;
height: 683px;
width: 1122px;
visibility: visible;
display: block;
}lay: block;
}
.chicago-map{
position: absolute;
bottom: 0px;
right: 50px;
z-index: 10;

}











