i{
display:inline-block;
width: 20px;
height: 20px;
background: url('http://lovehasnologic.com/starter-league/social-sprite.png')	


}
i.icon-facebook{
background-position: 0 -25px;
}
i.icon-instagram{
background-position: 0 -100px;
}